<div class="content">
    <div class="area-title">
        <span>Cadastrar semanas do módulo 1</span>
    </div>

    <div class="total-week">
        <label>Total de semanas:</label>
        
        <p-dropdown optionLabel="numb" [style]="{'width':'206.36px', 'height':'60.21px', 'padding':'10px 0 0 16px', 'font-size':'16px', 'font-weight':'400'}" ></p-dropdown>
        <!-- <p-dropdown optionLabel="numb" [options]="numberOfWeek" [style]="{'width':'206.36px', 'height':'60.21px', 'padding':'10px 0 0 16px', 'font-size':'16px', 'font-weight':'400'}"></p-dropdown> -->
    </div>

    <div class="week-row">
        <label>Semana 01</label>
        <input type="text" pInputText placeholder="Conteúdo" />
    </div>

    <!-- <div class="add-week">
        <label>Semana 02</label>
        <input type="text" pInputText placeholder="Conteúdo"/>
    </div> -->

    <div class="button-row">
        <button pButton type="button" label="Cadastrar próximo módulo"></button>
    </div>
</div>