<div class="container">
    <header>
        <h3>Alocações</h3>
    </header>
    <div class="table-area" >
        <p-dropdown [options]="monthNames" [(ngModel)]="selectedDate" optionLabel="name"></p-dropdown>
        <p-table [value]="allocationData" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-allocationData>
                <tr>
                    <th>Turma</th>
                    <th>{{dates[0]}}</th>
                    <th>{{dates[1]}}</th>
                    <th>{{dates[2]}}</th>
                    <th>{{dates[3]}}</th>
                    <th>{{dates[4]}}</th>
                </tr>
                
            </ng-template>
            
            <ng-template pTemplate="body" let-allocation>
                <tr>
                    <td>{{allocation.className}}</td>
                    <td>{{allocation.weeksTeachersNames[0]}}</td>
                    <td>{{allocation.weeksTeachersNames[1]}}</td>
                    <td>{{allocation.weeksTeachersNames[2]}}</td>
                    <td>{{allocation.weeksTeachersNames[3]}}</td>
                    <td>{{allocation.weeksTeachersNames[4]}}</td>
                    <td>{{allocation.weeksTeachersNames[5]}}</td>
                    <td>
                        <div class="buttons" >
                            <button [routerLink]="['../alocar', allocation.idClass]"    class="history">Alocar Docente</button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>