


<div class="container">
    <header>
        <h3>Tabela</h3>
    </header>
    <div class="table-area">
        <p-table [value]="alocacoes" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-alocacao>
                <tr>
                    <th>Turma</th>
                    <th>{{datas[0]}}</th>
                    <th>{{datas[1]}}</th>
                    <th>{{datas[2]}}</th>
                    <th>{{datas[3]}}</th>
                    <th>{{datas[4]}}</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alocacao>
                <tr>
                    <td>{{alocacao.turma}}</td>
                    <td>{{alocacao.docente}}</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="buttons">
                            <button class="history">Alocar Docente</button>
                        </div>
                    </td>
                    
                </tr>
                
                
            </ng-template>
        </p-table>
    </div>
</div>