
<div class="container">
    <header>
        <h3>Cadastrados</h3>
    </header>
    <div class="table-area">
        <p-table [value]="teachers" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Linguagem/stacks</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-teacher>
                <tr [ngClass]="{'bg-bluegray-300':teacher.archived}">
                    <td>{{teacher.name}}</td>
                    <td>{{teacher.phone}}</td>
                    <td>{{teacher.email}}</td>
                    <td>{{teacher.skills}}</td>
                    <td>
                        <div class="buttons">
                            <button [routerLink]="['../docente/atualizar', teacher.id]"  class="edit">Editar</button>
                            <button  class="archive" (click)="setArchived(teacher.id, teacher.archived)">
                                <span *ngIf="!teacher.archived">Arquivar</span>
                                <span *ngIf="teacher.archived">Desarquivar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button routerLink="../docente/adicionar" class="add-button">Novo Docente</button>
</div>
