.container {
  height: 100%;
  width: 100%;
}

label {
  width: 369px;
  height: 17px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: #53575D;

  border-radius: 4px;
}

input {
  padding: 14.58px 28.51px 9.79px 18.47px;
}

.area-title {
  margin: 69px 0 51px 56px;
}

.area-title span {
  width: 251px;
  height: 42px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;

  color: #374557;
}

.row-one {
  margin-left: 56px;
  display: flex;
}

.area-name {
  width: 374px;
  height: 110.36px;
}

.area-name input {
  width: 282.49px;
  height: 57.36px;

  background: #FBFCFF;

  border: 1px solid #53575D;
  border-radius: 4px;
}

.area-link {
  width: 616.4px;
  height: 110.36px;
}

.area-link input {
  width: 574.97px;
  height: 57.36px;

  background: #FBFCFF;

  border: 1px solid #53575D;
  border-radius: 4px;
}

.row-two {
  margin: 16px 0 0 56px;
  display: flex;
}

.area-stack {
  width: 616.4px;
  height: 110.36px;
}

.area-stack input {
  width: 574.97px;
  height: 57.36px;

  background: #FBFCFF;

  border: 1px solid #53575D;
  border-radius: 4px;
}

.row-three {
  margin: 16px 0 0 56px;
  display: flex;
  width: 483px;
  height: 94.87px;
}

.div-four {
  margin-right: 71px;
}

.ui-button {
  background-color: red !important;
 }

.row-four {
  margin: 23px 0 0 56px;
}

.row-four span {
  width: 369px;
  height: 17px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  color: #53575D;

  border-radius: 4px;
}

.row-five {
  margin-top: 88px;

  width: 100%;
  height: 94.87px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row-five button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;

  position: relative;
  width: 252px;
  height: 59px;

  background: #EF3A7F;

  box-shadow: 0px 20px 50px rgba(55, 69, 87, 0.1);
  border-radius: 20px;
  border: none;

  transition: 0.4s all ease;
}

.row-five button:hover {
  transform: scale(1.1);
  transition: 0.4s all ease;
}