<!--<form>
  <div class="area-title">
    <span>Cadastrar Turma</span>
  </div>

  <div class="grid">

    <div class="div-one col-6">
      <label class="lbl-name">Nome</label> <br> <br>
      <input type="text" pInputText placeholder="Nome da turma" />
    </div>

    <div class="div-two col-6">
      <label>Link da Matriz</label>
      <input type="text" pInputText placeholder="Link da Matriz" />
    </div>

    <div class="div-three col-12">
      teste
    </div>

  </div>

</form>-->
<p>class-create works!</p>
