<div class="container">
    <header>
      <h3>Editar Turma</h3>
    </header>
  
    <div class="form-area">
      <div class="row-one">
        <div class="div-one">
          <div class="area-name">
            <label>Nome</label> <br />
            <input type="text" pInputText placeholder="Nome da turma" />
          </div>
        </div>
        <div class="div-two">
          <div class="area-link">
            <label>Link da Matriz</label> <br />
            <input type="text" pInputText placeholder="Link da Matriz" />
          </div>
        </div>
      </div>
  
      <div class="row-two">
        <div class="div-three">
          <div class="area-stack">
            <label>Stack/Linguagens</label> <br />
            <input type="text" pInputText placeholder="Front-End/Back-End" />
          </div>
        </div>
      </div>
  
      <div class="row-three">
        <div class="div-four">
          <div class="date-start">
            <label>Início</label> <br />
            <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" styleClass="calendar"  placeholder="{{courseClass.endDate}}" [(ngModel)]="courseClass.endDate"></p-calendar>
          </div>
        </div>
        <div class="div-five">
          <div class="date-end">
            <label>Fim</label> <br />
            <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"></p-calendar>
          </div>
        </div>
      </div>
  
      <div class="row-four">
        <span>Total de módulos: </span>
        <p-dropdown optionLabel="name" [options]="quatityModule" [(ngModel)]="courseClass.moduleEntityList.length"></p-dropdown>
      </div>
  
      <div class="row five">
        <div class="row-five">
          <button pButton type="button" label="Avançar"></button>
        </div>
      </div>
    </div>
  </div>