
<div class="container">
    <header>
        <h3>Cadastradas</h3>
    </header>
    <div class="field col-12 md:col-4">
        <label for="icon">Icon</label>
        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
    </div>

    <div class="table-area">
        <p-table [value]="products" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.quantity}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>