<div class="container">
    <header>
        <h3>Cadastradas</h3>
    </header>
    <div class="table-area">
        <p-table [value]="courses" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Início</th>
                    <th>Final</th>
                    <th>Linguagem/stacks</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" *ngFor="let course of coursesClassReadDto">
                <tr>
                  <td>{{course.id}}</td>
                  <td>{{course.name}}</td>
                  <td>{{course.initialDate}}</td>
                  <td>{{course.endDate}}</td>
                  <td>{{course.stack}}</td>
                    <td>
                        <div class="buttons">
                            <button class="history">Histórico</button>
                            <button class="archive">Arquivar</button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button routerLink="/turmas/adicionar" class="add-button">Nova Turma</button>
</div>
