<div class="sidebar">
    <img src="/assets/img/imagem.jpg"><br>
    <ul>
        <li>
            <a routerLink="/layout/home/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-home"></i>
                    <span class="text">Dashboard</span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/layout/docentes/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-user"></i>
                    <span class="text">Docentes</span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/layout/turmas/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-desktop"></i>
                    <span class="text">Turmas</span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/layout/alocacoes/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-check-square"></i>
                    <span class="text">Alocações</span>
                </div>
            </a>
        </li>

        <li class="logout">
            <a routerLink="" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-sign-out"></i>
                    <span (click)="logOut()" class="text">LogOut</span>
                </div>
            </a>
        </li>
    </ul>
</div>
