header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 40px;
    color: #374557;
    background-color: #FFF;
}
